%ul.menu
  %li
    =link_to 'Project Categories', admin_project_categories_path
  %li
    =link_to 'Projects', admin_projects_path
  %li
    =link_to 'Users', admin_users_path
  %li
    =link_to 'Time Card Members', admin_team_members_path, :remote => true
  %li
    =link_to 'DRE slide show', admin_dre_slide_show_configure_path

.clearfix