.footbar
  .fill
    .container
      %p
        ="Copyright © 2011 Marquee Development Team"
        %br
        ="Please email Tyrael.tong@activenetwork.com or Eric.Yang@activenetwork.com for any help or bugs."
        = link_to "Marquee Blog", "http://10.109.2.114:8080/", :target => "_newtab"