.row.brief-info
  .span8.columns.brief-left
    .span3.columns
      %ul.title
        %li Start Time
    .span5.columns
      %ul.value
        %li= @automation_script_result.start_time
  .span8.columns.brief-right
    .span3.columns
      %ul.title
        %li End Time
    .span5.columns
      %ul.value
        %li= @automation_script_result.end_time
.row.action
.detail
.log-details
  <iframe id="detail_iframe" name="detail_iframe" src="http://10.107.123.56:3000/view?roundId=#{@automation_script_result.test_round_id}&scriptName=#{@automation_script_result.name}" marginheight="5" marginwidth="5" width="100%" height="5000px" frameborder="0" scrolling="auto" />