
.row.sub-header
  .span16.columns
    %img.big-icon{:src => asset_path("#{@automation_script_result.result}.png")}
      .span13.columns
        %h2
          =link_to "Test Rounds", project_test_rounds_path(@project), :remote => true
          %span= " / "
          =link_to "#{@test_round.test_type.name}##{@test_round.id}", project_test_round_path(@project, @test_round), :remote => true
          %span=" / "
          - as_name = @automation_script_result.name
          - if as_name && as_name.length >= 30
            - as_name = as_name.slice(0,30).concat("...")
          =link_to as_name, test_round_automation_script_result_path(@test_round, @automation_script_result)
          %span=" / Logs"
      
.page-header.detail

.row     
.log-info
  =render :partial => "log_details"