:css
  body{
    height: 4020px;
  }

  #content{
    height: 100%;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8EC2F5), to(#A73800));
    background: -webkit-linear-gradient(top, #8EC2F5, #A73800);
    background: -moz-linear-gradient(top, #8EC2F5, #A73800);
  }

  #header h1{
    font-family: "Gill Sans MT";
    font-weight: bold;
    font-size: 50px;
    color: #FF6600;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
  }

  #header h3{
    font-family: "Gill Sans MT";
    font-size: 30px;
    color: #ac6723;
    text-align: right;
    margin-top: 20px;
    margin-left: auto;
    margin-right: 75px;
    margin-bottom: 20px;
  }

  #footer h3{
    text-align: center;
  }
  .desc{
  font-size: 32px;
  width: 220px;
  margin-left: 10px;
  margin-top: 30px;
  line-height: 30px;
  color: #d69ae7;
  }
  .spliter{
  width: 100%;
  border: 1px solid white;
  }

  .widget{
    margin: 0;
    margin-right: 50px;
    padding: 0;
    width: 45%;
    font-family: "Bernard MT";
    color: white;
    font-weight: bold;
    float: left;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 200px;
    border: 1px solid #000000;
  }

  #req-done{
    / background-color: #c63cea;
  }

  .left{
    float: left;
  }

  .right{
    float: right;
  }

  .number, .percentage{
    font-size: 40px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
  }

  #deliver-rate{
    / margin-left: 300px;
    / background-color: #c63cea;
    / width: 350px;
  }

  #req-done .number{
    margin-top: 40px;
    font-size: 90px;
  }

  #req-done .desc{
    margin-top: 24px;
  }

  #deliver-rate .percentage{
    margin-top: 45px;
    font-size: 70px;
    position: absolute;
    left: 980px;
  }

  #deliver-rate .desc{
    margin-top: 24px;
    width: 100px;
    position: absolute;
    left: 1160px;
  }

  #deliver-rate .attention{
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: -10px;
    background-color: #c63cea;
    height: 40px;
    width: 80px;
    float: left;
    position: relative;
    top: -10px;
    clear: both;
  }

  #deliver-rate .attention span{
    font-size: 20px;
    margin-left: 15px;
  }

  #qa-dev-ratio{
    background-color: #ea92f6;  
    height: 120px;
  }

  #qa-dev-ratio .number{
    font-size: 80px;
    margin-top: -10px;
    color: #ff6627;
  }

  #qa-dev-ratio .desc{
    color: white;
    line-height: 34px;
    width: 180px;
  }

  #qa-dev-ratio .graph{
    margin-top: -60px;
    position: relative;
    bottom: 0px;
    height: 85px;
  }

  #effort-distribution{
    width: 700px;
  }

  #bug-effort{
    margin-top: -120px;
    width: 340px;
    background-color: #c63cea;
  }

  #bug-effort .number{
    font-size: 50px;
  }

  #bug-effort .desc{
    width: 160px;
    margin-top: -10px;
    margin-right: 135px;
  }

  #bug-effort .desc .line1{
    text-align: right;
    margin-right: 18px;
  }

  #bug-effort .desc .line2{
    margin-top: 15px;
    margin-left: -35px;
    text-align: left;
    width: 300px;
  }

  #bug-effort .desc span{
    margin-right: 20px;
  }

  #req-effort{
    margin-left: 40px;
    margin-right: 80px;
    margin-bottom: 80px;
  }

  #req-duration-chart{
    margin-left: 40px;
    margin-right: 80px;
  }

  .req-duration{
    background-color: #dbd3fc;
    width: 340px;
    height: 90px;  
  }

  .req-duration .number{
    font-size: 70px;
    color: #ff9851;
    margin-top: -5px;
  }

  .req-duration .desc{
    color: #366dd9;
    width: 300px;
    margin-top: -5px;
    margin-left: -10px;
  }

  #longest-req-duration{
    margin-left: 300px;
  }

  #longest-req-duration .number{
    color: #ff4a40;
  }

  #longest-req-duration .desc{
    color: #e5398a;
    width: 300px;
    margin-left: 95px;
  }

  #req-effort-chart{
    margin-left: 40px;
    margin-right: 80px;
  }

  #average-req-effort{
    background-color: #c4f50d;
  }

  #average-req-effort .number{
    font-size: 75px;
    color: #5c36d9;
    margin-top: -5px;
  }

  #average-req-effort .desc{
    font-size: 24px;
    width: 200px;
    margin-right: 20px;
    margin-top: 5px;
  }

  #max-req-effort{
    background-color: #ffde40;
    margin-left: 300px;
  }

  #max-req-effort .number{
    font-size: 75px;
    color: #e20c9b;
    margin-top: -5px;
  }

  #max-req-effort .desc{
    font-size: 24px;
    margin-left: 20px;
    width: 200px;
    margin-top: 5px;
  }

  #daily-effort-distribution-chart{
    margin-left: 40px;
    margin-right: 80px;
  }

  #activity-stream{
    height: 800px;
  }


=stylesheet_link_tag 'report'
=stylesheet_link_tag 'kendo/kendo.common.min'
=stylesheet_link_tag 'kendo/kendo.kendo.min'
=javascript_include_tag 'jquery'
=javascript_include_tag 'kendo/kendo.all.min'
=javascript_include_tag 'experiment/raphael'

#header
  %h1 ActiveWorks XXX Effort Analysis
  %h3 Sprint 41: 21/9 - 11/10

.spliter

#report
  #req-done.widget
    / .number.left
    /   %span 4
    / .desc.left
    /   %span Requirements have been done
  #deliver-rate.widget
    / .percentage.left
    /   %span 25%
    / .desc.left
    /   %span Deliver Rate
  
  .clearfix

  #req-duration
    #req-duration-chart        

  .clearfix
  #average-req-duration.req-duration.widget
    .number.right
      %span 9
    .desc.right
      %span Average Deliver Duration (Days)
  #longest-req-duration.req-duration.widget
    .number.left
      %span 14
    .desc.left
      %span Longest Deliver Duration (Days)

  .clearfix
  
  #qa-dev-ratio.widget
    .number.left
      %span 2:1
    .desc.left
      %span QA : DEV Effort Ratio
    .clearfix
    .graph.left
      = image_tag('qa.png', :height => "80px")
    .graph.left
      = image_tag('dev.png', :height => "40px")
  
  #effort-distribution.left
    #effort-distribution-chart

  #bug-effort.widget
    .number.right
      %span 33%
    .desc.right
      .line1
        %span Spent
      .line2
        %span of effort on
        - for i in (1...4) do
          = image_tag('bug.png', :height => '32px')

  .clearfix

  #req-effort-chart

  .clearfix
  #average-req-effort.widget
    .number.left
      %span 43
    .desc.left
      %span Hours Average Effort to Deliver a Requirement

  #max-req-effort.widget
    .number.right
      %span 89
    .desc.right
      %span Hours Max Effort to Deliver a Requirement
  
  .clearfix

  #daily-effort-distribution-chart

  .clearfix

  %table#req-effort-distribution-table
    %tbody
      %tr
        %th FNDCAMP-8088
        %td 30%
      %tr
        %th FNDCAMP-8087
        %td 12%
      %tr
        %th FNDCAMP-8085
        %td 13%
      %tr
        %th FNDCAMP-8084
        %td 5%
      %tr
        %th FNDCAMP-8083
        %td 20%
      %tr
        %th FNDCAMP-8082
        %td 5%
      %tr
        %th FNDCAMP-8081
        %td 17%
      %tr
        %th FNDCAMP-8080
        %td 3%              
  #req-effort-distribution-pie-chart

  .clearfix

  #activity-stream

.spliter

#footer
  %h3 Brought to You By Marquee

= javascript_include_tag 'experiment/effort_analysis'