:javascript
  if  (FusionCharts("membership_sev_bugs_chart")) FusionCharts("membership_sev_bugs_chart").dispose();
  if  (FusionCharts("framework_sev_bugs_chart")) FusionCharts("framework_sev_bugs_chart").dispose();
  if  (FusionCharts("platform_sev_bugs_chart")) FusionCharts("platform_sev_bugs_chart").dispose();

- str_xml = render :file => 'fusioncharts/sev1_bugs', :locals => {:caption => 'Open Membership Customer Impacting Issues', :arr_data => @membership_sev_bugs}
- render_chart('/FusionCharts/MSLine.swf', '', str_xml, 'membership_sev_bugs_chart', "100%", "100%", false, true)

- str_xml = render :file => 'fusioncharts/sev1_bugs', :locals => {:caption => 'Open Framework Customer Impacting Issues', :arr_data => @framework_sev_bugs}
- render_chart('/FusionCharts/MSLine.swf', '', str_xml, 'framework_sev_bugs_chart', "100%", "100%", false, true)

- str_xml = render :file => 'fusioncharts/sev1_bugs', :locals => {:caption => 'Open Platform Customer Impacting Issues', :arr_data => @platform_sev_bugs}
- render_chart('/FusionCharts/MSLine.swf', '', str_xml, 'platform_sev_bugs_chart', "100%", "100%", false, true)