:javascript
  if  (FusionCharts("ext_found_bugs_by_day_all_chart")) FusionCharts("ext_found_bugs_by_day_all_chart").dispose();

- str_xml = render :file => 'fusioncharts/ext_found_bugs_by_day_all', :locals => {:arr_data => @ext_found_bugs_all, :project_to_show => @project_to_show}
- render_chart('/FusionCharts/MSLine.swf', '', str_xml, 'ext_found_bugs_by_day_all_chart', "100%", "100%", false, true)