:javascript
  if  (FusionCharts("endurance_sev_bugs_chart")) FusionCharts("endurance_sev_bugs_chart").dispose();
  if  (FusionCharts("camps_sev_bugs_chart")) FusionCharts("camps_sev_bugs_chart").dispose();
  if  (FusionCharts("sports_sev_bugs_chart")) FusionCharts("sports_sev_bugs_chart").dispose();
  if  (FusionCharts("swimming_sev_bugs_chart")) FusionCharts("swimming_sev_bugs_chart").dispose();

- str_xml = render :file => 'fusioncharts/sev1_bugs', :locals => {:caption => 'Open Endurance Customer Impacting Issues', :arr_data => @endurance_sev_bugs}
- render_chart('/FusionCharts/MSLine.swf', '', str_xml, 'endurance_sev_bugs_chart', "100%", "100%", false, true)

- str_xml = render :file => 'fusioncharts/sev1_bugs', :locals => {:caption => 'Open Camps Customer Impacting Issues',:arr_data => @camps_sev_bugs}
- render_chart('/FusionCharts/MSLine.swf', '', str_xml, 'camps_sev_bugs_chart', "100%", "100%", false, true)

- str_xml = render :file => 'fusioncharts/sev1_bugs', :locals => {:caption => 'Open Sports Customer Impacting Issues',:arr_data => @sports_sev_bugs}
- render_chart('/FusionCharts/MSLine.swf', '', str_xml, 'sports_sev_bugs_chart', "100%", "100%", false, true)

- str_xml = render :file => 'fusioncharts/sev1_bugs', :locals => {:caption => 'Open Swimming Customer Impacting Issues', :arr_data => @swimming_sev_bugs}
- render_chart('/FusionCharts/MSLine.swf', '', str_xml, 'swimming_sev_bugs_chart', "100%", "100%", false, true)

