.check-box-div
  - ['endurance', 'camps', 'sports', 'swimming', 'membership', 'platform', 'framework'].each do |project_name|
    = render :partial => 'project_check_box', :locals => {:project_name => project_name}
:javascript
  $(function(){
    $("span.add-on span").click(function(){
      var input_ele = $(this).parent().children("input")[0];
      var checked = input_ele.checked ? false : true;
      input_ele.checked = checked;
      var url = $(this).parent().children("input").attr("value");
      var project_to_show = "&";
      $("span.add-on input:checked").each(function(i){
        project_to_show += $(this).attr("name")+"&";
      });
      $.getScript(url+project_to_show);
    });

    $("span.add-on input").click(function(){
      var input_ele = $(this);
      var url = input_ele.attr("value");
      var project_to_show = "&";
      $("span.add-on input:checked").each(function(i){
        project_to_show += $(this).attr("name")+"&";
      });
      $.getScript(url+project_to_show);
    })
  });