:javascript
  if  (FusionCharts("overall_dre_chart")) FusionCharts("overall_dre_chart").dispose();
  if  (FusionCharts("platform_dre_chart")) FusionCharts("platform_dre_chart").dispose();
  if  (FusionCharts("membership_dre_chart")) FusionCharts("membership_dre_chart").dispose();
  if  (FusionCharts("framework_dre_chart")) FusionCharts("framework_dre_chart").dispose();

- max_x_label_count = 15
- str_xml = render :file => 'fusioncharts/dre', :locals => {:arr_data => @overall_data, :caption => 'Overall DRE - Rolling 90 days average', :color => '00F754', :max_x_label_count => max_x_label_count}
- render_chart('/FusionCharts/MSCombiDY2D.swf', '', str_xml, 'overall_dre_chart', '100%', '100%', false, true)

- str_xml = render :file => 'fusioncharts/dre', :locals => {:arr_data => @platform_data, :caption => 'Platform DRE - Rolling 90 days average', :color => 'B2A1C7', :max_x_label_count => max_x_label_count}
- render_chart('/FusionCharts/MSCombiDY2D.swf', '', str_xml, 'platform_dre_chart', '100%', '100%', false, true)

- max_x_label_count = 6
- str_xml = render :file => 'fusioncharts/dre', :locals => {:arr_data => @membership_data, :caption => 'Membership DRE - Rolling 90 days average', :color => 'B2A1C7', :max_x_label_count => max_x_label_count}
- render_chart('/FusionCharts/MSCombiDY2D.swf', '', str_xml, 'membership_dre_chart', '100%', '100%', false, true)

- str_xml = render :file => 'fusioncharts/dre', :locals => {:arr_data => @framework_data, :caption => 'Framework DRE - Rolling 90 days average', :color => 'B2A1C7', :max_x_label_count => max_x_label_count}
- render_chart('/FusionCharts/MSCombiDY2D.swf', '', str_xml, 'framework_dre_chart', '100%', '100%', false, true)