:javascript
  if  (FusionCharts("history_dre_chart")) FusionCharts("history_dre_chart").dispose();


:css
  body {
  width:355px;
  height:175px;
  margin:0;
  }
  #history_dre_chartDiv {
  width: 100%;
  height: 100%;
  margin: 0;
  }

- str_xml = render :file => 'fusioncharts/dre_small', :locals => {:arr_data => @market_data, :caption => @caption, :color => @color}
- render_chart('/FusionCharts/MSCombiDY2D.swf', '', str_xml, 'history_dre_chart', '100%', '100%', false, true)
