:javascript
  if  (FusionCharts("project_coverage")) FusionCharts("project_coverage").dispose();

- str_xml = render :file=>"fusioncharts/time_card_hours", :locals => {:caption => 'Time Card Hours Chart', :logs => @logs}
- render_chart('/FusionCharts/MSStackedColumn2D.swf', '', str_xml, 'project_coverage', '90%', '90%', false, true)
